body {
    padding: 0;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
 }

 a {
     text-decoration: none;
 }

 li{
     list-style-type: none;
 }

/* SWITCH */
#toggle-switch{
    width: 60px;
    position: fixed;
    z-index: 100;
    top: 60px;
    cursor: pointer;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 1s;
}

.switch-display1{
    left: 30vw;
    background-image: url("../assets/close.png");

}

.switch-display1:hover {
    background-color: lightsalmon;
    border-radius: 50%;
    box-shadow: lightgray -5px 5px;
}

.switch-display2{
    left: 5px;
    background-image: url("../assets/chevron.svg");
}


.switch-display2:hover {
    background-color: lightgreen;
    border-radius: 50%;
    box-shadow: lightgray -5px 5px;
}

.display-toggle {
    display: none;
}

 /* HEADER */

 #header {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Great Vibes', "cursive";
    font-size: 75px;
    padding: 10px ;
    background-image: url("../assets/plant_growing.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    text-shadow: 10px 0px 20px rgb(24 17 15);
    width: 100%;
    font-weight: bolder;
 }

 #self {
    
    display: none;
 }

 #self:hover{
    border-radius: 0px 50px 0px 50px ;
    filter: none;
    transition: all 1s;
 }

 #self:hover + p {
    color: goldenrod;
    transform: skew(40deg);
    transition: all 1s;
 }

 /* MAIN CONTENT & SIDEBAR */

 .content-container {
     display: flex;
     font-size: 30px;
 }

 #nav-bar {
    min-width: 350px;
    background: rgb(150 107 49);
}

#nav-list a {
    color: white;
}

  
#content {
    width: 100%;
}

/* BREAK */
 
.break {
    padding: 80px 0px;
}

.break img {
    max-width: 400px;
}


/* NAV */

#nav-bar img {
    max-width: 50px;
    position: fixed;
}

 #nav-bar ul{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 50px;
 }

 #nav-bar li {
    align-content: space-around;
    padding: 0px 50px;
 }



/* MAIN CONTENT */
 
 #content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 h1{
    text-align: center;
 }
 

.flex-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
 }

.flex-section li {
    padding: 15px 35px;
 }

 /* STYLED BLOCKS */

 #messages li, #skills li, #projects li {
    list-style-type: none;
    background: rgba(202, 225, 129, .36);
    max-width: 25vw;
    box-shadow: rgb(150 107 49) -10PX -8PX;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
}

#experience{
    background: rgba(202, 225, 129, .36);
}

/* BUTTONS */

.button {
    padding: 8px 10px;
    margin: 0px 15px;
    box-shadow: lightgray -3px 5px 5px;
    border-radius: 30px 0px 30px 0px;
    transition: all .5s;
}

.button:hover{
    box-shadow: yellow -3px 5px 5px;
    border-radius:  0px 30px 0px 30px;
    background: lightgreen;
}

.submit-button {
    color: white;
    background: blue;
}

.remove-button {
    color: white;
    background: red;
}

.edit-button {
    color: white;
    background: green;
}

/*  footer / CONNECT */
 

footer {
    background-image: url("../assets/plant_growing.webp");
}

#connect{
    background: rgba(202, 225, 129, .36);
}

#connect img {
    width: 70px;
    border-radius: 8px;
}

.copyright{

    display: absolute;
    
}
 @media screen and (min-width: 920px) {
    /* SKILLS SECTION */


    .container img {
        display: block;
        width: 100%;
        height: auto;
    }

    .language-description {
        position: absolute;
        background-color:rgba(34, 34, 31, 0.95);
        overflow: hidden;
        width: 0;
        color: white;
        transition: .5s ease;
        transform: translate(0px, -50px);
        
    }

    .container:hover .language-description {
        display: inline; 
        width: 100%;
        margin: 0;
        padding: 0px 10px;
        width: fit-content;
    }


    .skills-style{
        white-space: nowrap;
        display: block; 
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
    }

    .skills-style:hover{
        cursor: pointer;
    }

    /* not working ?? */
    #self {
        height: 300px;
        border-radius:  50px 0px 50px 0px;
        filter: sepia(); 
        width: 60px;
        
    }

    .break img {
        max-width: 600px;
    }
 }
 