body {
    background-color: #fbeae4;
    color: #383737;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
 }

 body > *{
     margin: 0;
     padding: 0;
 }


 #nav-bar{
    position: fixed;
    max-width: 25wv;
    min-width: 100px;
    background: azure;
    left: -50vw;
    transition: 2s;
 }

 #nav-bar ul{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 #nav-display{
     position: fixed;
     margin: 0;
     padding: 0;
     z-index: 100;
     width: 50px;
 }

 #nav-display img:hover{
    filter: invert(100%); 
    width: 60px;
    transition: 1s;
    display: block;
    position: absolute;
    left: 20px;
    box-shadow: -10px 5px green;
}

 #nav-bar li{
    padding: 10px 100px;
    text-transform: capitalize;
    
 }
 
 #nav-bar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position:absolute;
 }

 #nav-bar li a:hover{
    text-decoration: none;
    color: white;
    background-color: yellowgreen;
    display: inline-block;
    padding: 20px 5px;
    transform: rotate3d(1, 1, 1, 25deg);
    transition: 1s;
 }

#content{
    margin: 0px 100px;
 }

 #headshot{
     width: 15vw;
     text-align: center;
     float: right;
     margin-right: 10vw;
     margin-top: 20px;
     border-radius: 20px;
 }
  
 section{
    padding: 10px 2px;
    margin-left: 25wv;
 }
  
 h1, h2, h3, h4, h5, h6 {
    color: yellowgreen;
    font-weight: bolder;
 }
  
 .styled-block {
    background : rgb(145, 148, 145);
    float: right;
    max-width: 50vw;
    box-shadow: #fbeae4 -10px 8px;
    padding: 20px;
 }
  
 .styled-block ul{
    list-style-type: square;
    margin-left: 55px;
 }
  
 form[name="leave_message"]{
    background: #696262;
    max-width: 30vw;
    box-shadow:rgb(145, 148, 145) -10px 8px;
    padding: 20px;
    margin-left: 30px;
 }
  
 form[name="leave_message"] > *{
   margin: 30px 10px;
 }
  
 form[name="leave_message"] label{
    color: lightgreen;
    font-size: 20px;
    text-transform: uppercase;
 }
  
 form[name="leave_message"] input,
 form[name="leave_message"] textarea{
    font-size: 12px;
    padding: 3px 10px;
    border: greenyellow solid 5px;
    border-radius: 10px;
    margin: 2px 15px;
}
  
button[type="submit"] {
    background-color: yellowgreen;
    border: white 3px solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
}

#messages ul, #skills ul, #projects UL{
    display: inline-flex;
    flex-wrap: wrap;
}

#projects a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#projects a:hover{
    text-decoration: underline;
    color: lightgreen;
    transition: all .5s;
}

#messages li > * {
    display: block;
}

#messages li, #skills li, #projects li {
    list-style-type: none;
    background: #696262;
    max-width: 25vw;
    box-shadow:rgb(145, 148, 145) -10px 8px;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

#messages li a{
    color: yellowgreen;
}

#messages li button{
    background-color: lightsalmon;
    display: block;
    border: white 3px solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
}
  

footer{
    margin: 0;
    background-color: black;
    height: 150px;
    color: #696262;

}

footer p{
    position: relative;
    font-size: 20px;
    text-align: center;
    top: calc(50% - 20px);
}
 
 
 